@{
    ViewBag.Title = "Home Page";
}
<div>
    <video autoplay muted loop id="myVideo">
        <source src="~/Content/Images/production ID_4272660.mp4" type="video/mp4" style="position:fixed";>
</video>

    <div style="position: absolute; top: 25%; width: 100%; text-align: center; font-size: 18px; " class="jumbotron">
        <h1>National Recycling Forum</h1>
        <h2>Reduce, Reuse, Recycle</h2>
    </div>
</div>
    <div class="row">
        <div class="col-md-6">
            <h3>Our Goal</h3>
            <p>I have chosen the goal of Responsible consumption and Production. I have chosen this goal becuase like most of the other goals, we as an individual need to do our best in living a clean lifestyle and in a clean enviroment. As soon as each person on this earth realises that nothing is owed to them and that it is our own responsibility to keep the eart and our atmosphere clean to live a long healthy life, just by recycling, using recycled products and also reusing and recycling ourselves. The NPO that I have chosen is The Sweetheart foundation in South Africa. I have chosen this because as just a small community they have reached so many people and so many people have contributed to this organisation, and the goal is reached by giving a wheelchair to the ones who need it. </p>
        </div>
        <div class="col-md-6">
            <img style="width:100%" src="~/Content/Images/homePageRecycle.jpg" alt="Recycle Image" />
        </div>
        <h2>Use Case Narratives</h2>
    </div>
</div>
<h3>1)</h3>
<div class="row">
    <table class="table table-bordered">
        <tr>
            <td colspan="3">
                <label>System Name:Reduce, Reuse, Recycle</label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Author:Eloise Dyson </label>
            </td>
            <td>
                <label>Date:14 July 2022</label>
            </td>
            <td>
                <label>Varsion:1.0.0 </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Use case name:Recycle yourself button click</label>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label>Use case id:1</label>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label>Priority:Medium</label>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label>Source:Case Study </label>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label>Primary business actor:Customer</label>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <label>Primary system actor:None</label>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <label>Other participating actors:NPO Manager</label>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <label>Other interested stakeholders:Website owner</label>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <label>Description:The customer clicks on the link in the navbar to navigate to the page “How to Recycle yourself”. There are three buttons to choose from, Paper, Glass and Compost. The customer then clicks on the Paper button, and a paragraph displays with a photo with a list of ideas on how to reuse paper at home without wasting it and just throwing it away. The customer clicks on the less button and the paragraph box hides. These steps can be repeated with the Glass button, different ideas on how to reuse Glass bottles and jars at home, and with the Compost button which explains how to make your own compost with items from your house which was just going to be thrown away and negatively impact the environment. </label>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <label>Pre-condition:The customer must have clicked on the website link</label>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <label>Trigger:The customer clicks on the button of choice which type of material to recycle themselves.</label>
            </td>
            <td colspan="2"></td>
        </tr>
    </table>
</div>
<h3>2)</h3>
<div class="row">
    <table class="table table-bordered">
        <tr>
            <td colspan="3">
                <label>System Name:Reduce, Reuse, Recycle</label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Author:Eloise Dyson </label>
            </td>
            <td>
                <label>Date:14 July 2022</label>
            </td>
            <td>
                <label>Varsion:1.0.0 </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Use case name:Click on search for nearest </label>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label>Use case id:2</label>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label>Priority:Medium</label>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label>Source:Case Study</label>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label>Primary business actor:Customer</label>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <label>Primary system actor:None</label>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <label>Other participating actors:NPO Manager</label>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <label>Other interested stakeholders:Website owner</label>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <label>Description:The customer clicks on the drop down list of the different cities in the provinces where they can drop off their recyclable material. They then have to choose the type of material that they want to recycle, which filters the search. The search button is clicked and the store in that city which you can drop your recycled material displays. </label>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <label>Pre-condition:Pre-condition: The customer must be on the How it works page</label>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <label>Trigger:The search button is clicked</label>
            </td>
            <td colspan="2"></td>
        </tr>
    </table>
</div>
<h3>3)</h3>
<div class="row">
    <table class="table table-bordered">
        <tr>
            <td colspan="3">
                <label>System Name:Reduce, Reuse, Recycle</label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Author:Eloise Dyson </label>
            </td>
            <td>
                <label>Date:14 July 2022</label>
            </td>
            <td>
                <label>Varsion:1.0.0 </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Use case name:Add drop-off store</label>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label>Use case id:3</label>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label>Priority:Medium</label>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label>Source:Case Study</label>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label>Primary business actor:Customer</label>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <label>Primary system actor:None</label>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <label>Other participating actors:NPO Manager</label>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <label>Other interested stakeholders:Website owner</label>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <label>Description:: When the customer clicks on the Add-drop off link in the navbar, it navigates the customer to the page where they can add a store if they are a owner of a store which will be able to collect recyclable material and keep it for the organisations who recycle it, which makes it so much easier for people to recycle. The owner chooses a Province in the drop down list. A city in the dropdown list and enters the name of their store. The owner then clicks on the submit button and the application is sent through to the “Reduce, Reuse, Recycle” owner who the gets in contact with the store and the nearest organisation who recycles that type of material.</label>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <label>Pre-condition:The customer must be on the “Add drop-off page”</label>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <label>Trigger:The submit button is clicked</label>
            </td>
            <td colspan="2"></td>
        </tr>
    </table>
</div>
<h3>4)</h3>
<div class="row">
    <table class="table table-bordered">
        <tr>
            <td colspan="3">
                <label>System Name:Reduce, Reuse, Recycle</label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Author:Eloise Dyson </label>
            </td>
            <td>
                <label>Date:14 July 2022</label>
            </td>
            <td>
                <label>Varsion:1.0.0 </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Use case name:Contact owner</label>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label>Use case id:4</label>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label>Priority:Medium</label>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label>Source:Case Study</label>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label>Primary business actor:Customer</label>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <label>Primary system actor:None</label>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <label>Other participating actors:NPO Manager</label>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <label>Other interested stakeholders:Website owner</label>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <label>Description:When a customer wants to get into contact with the “Reduse, Reuse, Recycle” owner they can click on the link to send them an email or contact them by calling them on the phone number provided. </label>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <label>Pre-condition:The customer must be on the website</label>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <label>Trigger:The customer clicks on the email link</label>
            </td>
            <td colspan="2"></td>
        </tr>
    </table>
</div>

<div>

    @* <svg width="200" height="100">
            <rect x="0" y="0" width="200" height="100" stroke="red" stroke-width="3px" fill="white" />
            <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">TEXT</text>
        </svg>
        <svg width="300" height="110">
                <rect width="300" height="100" style="fill:rgb(255 255 255);stroke-width:3;stroke:rgb(0,0,1)" />
            </svg>*@


<h2>Class Structure Diagram</h2>
<img style="width:100%" src="~/Content/Images/classStructure.jpg" alt="Class Structure Diagram Image" />


